<p>Hey <%= name %>,</p>
<p>
  Thanks for joining AHEZA solidality fund. We're very excited to have you on board.
</p>

<p>To get started using AHEZA SF App, please click link below:</p>
<p>
  <a href="<%= url %>">Start using our app</a>
</p>

<p>
  If you're having trouble clicking the url, copy and paste
  the below URL into your web browser.
</p>

<a href="<%= url %>"><%= url %></a>
